%h1 {{ survey_title }}
%p {{ survey_description }}
%table
  %thead
    %tr
      %th Code
      %th Value
  %tbody
    {% for answer in survey_answers %}
    %tr
      %td {{ answer.code }}
      %td {{ answer.value }}
    {% endfor %}
  %tfoot
    %tr
      %td{ colspan: 2}
        {{ survey_answers.size }} answers
