%div[survey]
  %h3= survey.name
  %p= survey.description
  %a.btn.btn-primary{ href:  edit_survey_path(survey)}
    = t 'shared.edit'
  %a.btn.btn-danger{ href:  survey_path(survey), data: { method: :delete, confirm: t('shared.delete_question') }}
    = t 'shared.delete'

