.form-group
  %label= question.question_text
  - question.labels.each do |label|
    .radio
      %label
        - checked = (answers[question.code].to_s == label.value.to_s) || label.preselected
        %input{type: :radio, name: "session[answer[#{question.code}]]", value: label.value, checked: checked }
        = label.text
