<!DOCTYPE html>
<html>
<head>
  <title>Helena</title>
  <%= stylesheet_link_tag    "helena/application", media: "all" %>
  <%= javascript_include_tag "helena/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
